<h2>Todos page</h2>

{{#if todos.length}}
<ul>
    {{#each todos}}
    <li class="todo">
        <form action="/complite" method="POST">
            <label>
                {{#if complited}}
                <input type="checkbox" checked name="complited">
                <span class="complited">{{ title }}</span>
                {{else}}
                <input type="checkbox" name="complited">
                <span>{{ title }}</span>
                {{/if}}

                <button class="btn btn-small">Save</button>
            </label>
        </form>

    </li>
    {{/each}}
</ul>
{{else}}
<p>No todos!</p>
{{/if}}